.headerInfo{
    width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom:2rem;
   
}
.headerInfo > div{
    font-size:30px;
}
.info{
    font-size: 30px;
    margin-bottom:15px;
}