@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
*{
    margin: 0px;
    padding: 0px;
    
  
}
.container{
    /* background-color: rgb(243, 224, 224); */
    width: 100%;
    height: 100%;
    
}

.widget{
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(123, 120, 120, 0.2);
    background: rgba(255, 255, 255, 0.4); 
 
   
}
/* checkIn */
#checkin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:30px;
   
}
#checkinText{
    margin: auto;
}
/* Alarm */
#alarmText{
   
    font-size:20px;
}
#alarmHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
#alarmBody{
   
  margin-top:20px;
}

/* title */
#title{
    font-family: 'Nanum Brush Script';
    font-size:60px;
    text-align: center;

    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border:0;

}

/* memo */
#memo{
    overflow: auto;
}

/* adminInfo */

#adminInfo{
    background-color:#363B3E;
    color :white;
    overflow:scroll;
    overflow-y:hidden; 
}
/* #adminInfo::-webkit-scrollbar{
    width:2px;
}
#adminInfo::-webkit-scrollbar-thumb{
    background-color: grey;
}
#adminInfo::-webkit-scrollbar-track{
    background-color: rgb(255, 255, 255);

} */