*{
    margin: 0px;
    padding: 0px;
  }
  .container{
    width: 1300px;
    margin: 0 auto;
  }
  .container div{
    text-align: center;
    display: table;
  }
  .container div span{
    display: table-cell;
    vertical-align: middle;
  }
  .middle{
    margin-top: 50px;
    width: 1300px;
    height: 700px;
    position: relative;
  }
  .middle-left{
    outline: 1px solid #9F9F9F;
    position: absolute;
    top: 0px;
    width: 800px;
    height: 670px;
    background-color: #00D8FF;
  }
  .middle-right{
    position: absolute;
    top: 0px;
    left: 600px;
    width: 680px;
    height: 650px;
  }
  .middle-right-1{
    outline: 1px solid #9F9F9F;
    width: 450px;
    height: 350px;
    float:right;
    background-color: #FF00DD;
  }
  .middle-right-2{
    outline: 1px solid #9F9F9F;
    margin-top: 10px;
    width: 450px;
    height: 150px;
    float:right;
    background-color: #FFE400;
  }
  .middle-right-3{
    outline: 1px solid #9F9F9F;
    margin-top: 10px;
    width: 450px;
    height: 150px;
    float:right;
    background-color: #99E000;
  }
  .bottom{
    display: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: 1px solid #9F9F9F;
    width: 1000px;
    height: 100px;
    background-color: #5D5D5D;
    color: #fff;
  }